@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular Regular"), local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5;
}

.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
}

.navbar-link:hover {
  color: #dac2b9;
  transition: 0.3s ease-in-out;
}

.navbar-item:active {
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

.navbar-contacts {
  text-align: right;
}

.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.navbar-phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

.navbar-phone:hover {
  color: #dac2b9;
}

.navbar-phone:active {
  text-decoration: underline;
}

.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: flex;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home-image path {
  opacity: 0;
  cursor: pointer;
}

.home-image path:hover {
  opacity: 1;
}

path.current-floor {
  opacity: 1;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.counter-arrow-down {
  transform: rotateX(180deg);
}

.main-title {
  margin: 0;
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}

.floor-counter {
  font-family: "Bebas Neue Cyrillic", sans-serif;
  color: #635854;
  font-size: 124px;
}

.button-primary {
  background: #3596f5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
}

.button-primary:hover {
  background-color: #635854;
}

.button-primary:active {
  background: #037df7;
}

.modal {
  position: fixed; /* over all the site */
  left: 0;
  top: 0; /* stick to top and left*/
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex; /* make parent block flex*/
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
}

.is-open {
  opacity: 1;
  transform: scale(1);
}

.modal-dialog {
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  opacity: 0; /* dialog window animation */
  transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s; /* first appears dark background then dialog window*/
}

.is-open > .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}

.modal-image {
  background-color: #ebebeb;
  width: 60%;
  text-align: center;
  padding: 50px;
}

.flats path {
  opacity: 0;
  cursor: pointer;
}

.flats path:hover {
  opacity: 1;
}

.flats path.current-list-elem {
  opacity: 1;
}

.modal-title {
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 25px;
}

.modal-info {
  width: 40%;
  padding: 50px 46px;
}

.flat-list {
  padding: 0;
  list-style: none;
  margin-top: 55px;
}

.flat-item {
  margin-bottom: 10px;
}

.flat-item.current-flat .flat-link {
  color: #3596f5;
  text-decoration: underline;
}

.flat-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.flat-link:hover {
  color: #3596f5;
  text-decoration: underline;
}

.modal-alert {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #635854;
  margin-top: 56px;
}

.modal-close-button {
  position: absolute;
  right: 27px;
  top: 38px;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

@media (max-width: 1440px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1200px) {
  .navbar {
    max-width: 1000px;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-text {
    margin-bottom: 4px;
    font-size: 10px;
  }

  .navbar-phone {
    font-size: 13px;
  }

  .main {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
  }

  .main-title {
    padding-left: 20px;
    font-size: 20px;
  }

  .floor-counter {
    font-size: 80px;
  }

  .button-primary {
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 30px;
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .header {
    max-width: 1000px;
  }
  .navbar {
    max-width: 760px;
    margin: 5px;
    padding-left: 30px;
    padding-right: 10px;
  }

  .navbar-item {
    margin: 0 20px;
  }

  .navbar-link {
    font-size: 12px;
  }

  .navbar-text {
    font-size: 11px;
  }

  .navbar-phone {
    font-size: 12px;
  }

  .main {
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-info {
    margin-right: 10px;
  }
  .main-image {
    width: 530px;
    height: 540px;
    margin-right: 30px;
  }
  /* 730 640 */

  .main-title {
    padding-top: 15px;
    padding-left: 0px;
    font-size: 18px;
  }

  .floor-counter {
    font-size: 60px;
  }

  .button-primary {
    padding: 5px 5px;
    margin: 0;
    font-size: 12px;
  }
}

@media (max-width: 760px) {
  .header {
    width: 760px;
  }

  .header-logo {
    width: 81px;
  }
  .navbar-item {
    margin: 0 18px;
  }

  .navbar-link {
    font-size: 14px;
  }

  .navbar-text {
    font-size: 12px;
  }

  .navbar-phone {
    font-size: 12px;
  }

  .main {
    padding-left: 15px;
    padding-right: 10px;
  }

  .main-info {
    margin-right: 10px;
    margin-left: 10px;
  }
  .main-image {
    width: 470px;
    height: 320px;
    margin-right: 30px;
  }
  /* 730 640 */

  .main-title {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 210px;
    padding-left: 0px;
    font-size: 18px;
  }

  .floor-counter {
    font-size: 40px;
  }

  .button-primary {
    margin-top: 70px;
    font-size: 12px;
  }

  .modal-dialog {
    max-width: 760px;
    min-height: 565px;
  }

  .modal-title {
    font-size: 20px;
    margin-right: 10px;
  }

  .modal-info {
    padding: 50px 46px;
  }

  .modal-close-button {
    right: 22px;
    top: 32px;
  }
}

@media (max-width: 580px) {
  .main-info {
    margin-left: 20px;
  }
}
